<app-landingnavbar></app-landingnavbar>
<app-landingheader></app-landingheader>
<div class=row>
    <div class="col-3">
        <app-landingsidebar></app-landingsidebar>
    </div>
    <div class="col-9">
        <div class="row">
            
                <app-landingad></app-landingad> 
            
           
        </div>
        <div class="row">
            <h2>Feautred Categories</h2>
            <app-landingcard1></app-landingcard1>
                </div>
        <div class="row">
            <h2>Best Sellers</h2>
            <app-landingcard2></app-landingcard2>
                </div>
                <div class="row">
                    <h2>Harry Potter Collection</h2>
                    <app-landingcard3></app-landingcard3>
                        </div>
                        
        
    </div>
</div>
<app-footer></app-footer>


