.carousel{
    /* margin-left: 140px; */
    width:900px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
  }

  svg{
      height:20px
  }
  .carousel-item{
      height: 400px;
  }

  .side-img{
    height: 400px;
    margin-bottom: 0%;
    text-align: end;
    margin-top: 25px;
    margin-left: 20px;
   
}

