<div class="row">
  <div class="col-2">
      <app-sidebar></app-sidebar>
  </div>
  <div class="col">
    <app-navbar></app-navbar>
          
                <h1>CATEGORIES</h1>
                <div *ngIf = "msgstatus; then Active else Inactive"></div>
               <ng-template #Active> <div class="alert alert-warning alert-dismissible fade show"  role="alert">
                  <strong>{{msg}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)=closewarning()>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div></ng-template>
                <ng-template #Inactive></ng-template>
<button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
</svg>New Category</button>
<div class="row">
                  <div class="col mb-4 h-40" *ngFor="let category of categories">
                    <div class="card-coloumns">
                    <div class="card" style="width: 18rem;">
                        
                            <img src="{{category.Image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <a href="">  <p class="card-title">{{category.Name}}</p></a>
                              <a href="" data-toggle="modal" data-target="#exampleModal1" (click)=onUpdate(category)>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg></a>
                                <a href="" data-toggle="modal" data-target="#exampleModal" (click)=onDelete(category.CategoryId)>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">Category Name</label>
                              <input type="email" class="form-control"  name="name" [(ngModel)]="update.Name" id="name" #name="ngModel" >
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control"  rows="3" name="desc" [(ngModel)]="update.Description" id="desc" #desc="ngModel"></textarea>
                              </div>
                            
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">Category position</label>
                              <input type="number" name="position" id="position" [(ngModel)]="update.Position" #position="ngModel" >
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">Category Status</label>
                              <input type="number" name="status" id="status" [(ngModel)]="update.Status" #status="ngModel" >
                            </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)=updatecategory() data-dismiss="modal">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>



              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete the Category</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure to sure remove the category?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-danger" (click)=deletecategory(delete) data-dismiss="modal">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Category Name</label>
                          <input type="email" class="form-control"  name="name" [(ngModel)]="categoryModel.Name" id="name" #name="ngModel" >
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control"  rows="3" name="desc" [(ngModel)]="categoryModel.Description" id="desc" #desc="ngModel"></textarea>
                          </div>
                        
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Category Image</label>
                            <input type="text"  class="form-control" name="image" id="image" [(ngModel)]="categoryModel.Image" #image="ngModel" >
                          </div>

                        <div class="form-group">
                          <label for="exampleFormControlSelect2">Category position</label>
                          <input type="number" name="position" id="position" [(ngModel)]="categoryModel.Position" #position="ngModel" >
                        </div>

                        

                        <div class="form-group">
                          <label for="exampleFormControlSelect2">Category Status</label>
                          <input type="number" name="status" id="status" [(ngModel)]="categoryModel.Status" #status="ngModel" >
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)=addcategory()>ADD</button>
                </div>
              </div>
            </div>
          </div>

            
